@{
    ViewData["Title"] = "Clean Leather Админка сайта";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Панель администратора</h1>
    <p>Управление сайтом и работа с базой данных.</p>
</div>
