<!-- Breadcamb Area Start   -->
<section class="breadcamb-area bg-17 bg-overlay-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="bradcamb-content text-center text-white text-uppercase">
                    <h1>@ViewData["ModelTitle"]</h1>
                    <ul>
                        <li><a href="@ViewData["BackUrl"]">@ViewData["ModelCategory"]</a><span>/</span></li>
                        <li>@ViewData["ModelSku"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcamb Area End -->