<!-- Our Team Area Start -->
<div id='contact'></div>
<section class="ourteam-area pt-95 pb-100">
    <div class="container">
        <div class="row">
            <!-- Section Titel -->
            <div class="col-md-8">
                <div class="section-titel text-left two">
                    <h2>КОНТАКТЫ</h2>
                    <p>Если Вас заинтересовали наши модели или услуги, свяжитесь с нами любым удобным для Вас способом или отправьте сообщение.</p>
                </div>
            </div>
            <!-- Section Titel -->
        </div>

        <!--  комбинированный блок заявка - контакты  -->
        <div class="row">

            <!-- Блок форма -->
            <div class="col-lg-8 col-md-8 col-sm-12">

                <div class="blog-reply-wrapper mt-50">
                    <!--	<h4 class="blog-dec-title">Отправить сообщение</h4>  -->
                    <form action="/mailer/contact" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="leave-form">
                                    <input type="text" name="name" placeholder="Имя *" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="leave-form">
                                    <input type="text" name="phone" placeholder="Телефон *" required />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="leave-form">
                                    <input type="text" name="note" placeholder="Сообщение">
                                </div>
                                <!-- Load More Button -->
                                <div class="text-leave">
                                    <input type="submit" value="ОТПРАВИТЬ">
                                </div>
                                <!-- Load More Button -->

                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- /Блок форма -->
            <!-- /Блок контактов -->
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="contact-us-map">
                    <!-- Google Map -->
                    <div class="map-area">
                        <div id="googleMap"></div>
                    </div>
                    <!-- Google Map -->
                    <div class="contact-address">
                        <!--
                            <div class="contact-adres-single">
                                <h4>Адрес</h4>
                                <p>Floor.4 House, 15 Block.c Banosree main rd, Dhaka</p>
                            </div>
                        -->
                        <div class="contact-adres-single">
                            <h4>E-mail</h4>
                            <p>----------------- <br> job@cleal.ru</p>
                        </div>
                        <div class="contact-adres-single">
                            <h4>Тел.</h4>
                            <p>----------------- <br> +3 8 (071) 441-34-58</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Блок контактов -->

        </div>
        <!--  /комбинированный блок заявка - контакты  -->

    </div>
</section>
<!-- Our Team Area End -->