<!-- All Service Area Start -->
<div id='service'></div>
<br />
<section class="service-area pt-90 pb-100 bg-3  indicator-style">
    <!-- bg-overlay-2  -->
    <div class="container">
        <div class="row">
            <!-- Section Titel -->
            <div class="col-md-12">
                <div class="section-titel text-left two">
                    <h2>Услуги</h2>
                    <p>Если Вы знаете точно, какое изделие хотели бы иметь, но на нашем сайте именно такого не нашлось, мы можем рассмотреть возможность индивидуального изготовления для Вас с учетом пожеланий.</p>
                </div>
            </div>
            <!-- Section Titel -->
        </div>
        <!-- Service Single Item Area Start -->
        <div class="main-section">
            <div class="sevice-active owl-carousel owl-theme">

                <!-- Single Item -->
                <div class="service-single text-center">
                    <div class="servce-icon">
                        <i class="icofont icofont-hand-up"></i>  <!--     <i class="icofont  icofont-video-cam"></i> -->
                    </div>
                    <div class="service-details">
                        <h4><a href="all.php">ДОРАБОТКА</a></h4>
                        <p>Если модель, представленная в каталоге, не полностью удовлетворяет Вашим пожеланиям, Вы можете заказать модель с оговоренными изменениями </p>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="service-single text-center">
                    <div class="servce-icon">
                        <i class="icofont icofont-repair"></i>		<!--    fix-tools    <i class="icofont icofont-multimedia"></i>	  -->
                    </div>
                    <div class="service-details">
                        <h4><a href="all.php">РЕМОНТ</a></h4>
                        <p>Если у Вас есть изделие, которое со временем износилось, но Вам оно очень нравится, мы можем отремонтировать его для Вас </p>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="service-single text-center">
                    <div class="servce-icon">
                        <i class="icofont icofont-funky-man"></i>    <!--  labour   hand-drag   fuhky-man  <i class="icofont icofont-movie"></i>   -->
                    </div>
                    <div class="service-details">
                        <h4><a href="all.php">ИНДИВИДУАЛЬНО</a></h4>
                        <p>Если подходящей модели в нашем каталоге для Вас не нашлось, мы можем изготовить изделие по индивидуальному заказу </p>
                    </div>
                </div>
                <!-- Single Item -->
                <!-- Single Item -->
                <div class="service-single text-center">
                    <div class="servce-icon">
                        <i class="icofont icofont-eye-open"></i>          <!--   <i class="icofont icofont-ui-video-play"></i>   -->
                    </div>
                    <div class="service-details">
                        <h4><a href="all.php">ИЗ КАТАЛОГА</a></h4>
                        <p>Вы можете заказать любое изделие, которое присутствует в нашем каталоге моделей на сайте </p>
                    </div>
                </div>
                <!-- Single Item -->
            </div>
        </div>
        <!-- Service Single Item Area End -->
    </div>
</section>
<!-- All Service Area End -->
