<!-- About Us Area Start -->
<div class="page-content">

    <div id='about'></div>
    <section class="aboutus-area pt-90 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aboutus-content text-center">
                        <div class="section-titel text-right">
                            <!-- class="aboutus-titel  -->
                            <h2>О проекте</h2>
                            <p>Мы изготавливаем стильные и качественные изделия исключительно из <span style="color: #e2a750">НАТУРАЛЬНОЙ КОЖИ</span> отличного качества. Все детали <span style="color:#e2a750">СШИВАЮТСЯ ВРУЧНУЮ</span> классическим седельным швом, который даже при частичном повреждении сохраняет прочность. У нас в производстве мужские и женские портмоне, кошельки, а также изделия для хранения и ношения документов, банковских карт и визиток, футляры для очков, удобные и практичные чехлы для ключей, а также ремешки для постоянно путающихся в карманах наушников и шнуров. Модельный ряд постоянно пополняется новыми идеями и изделиями.</p>

                        </div>
                        <div class="aboutus-video bg-1 bg-overlay-1">
                            <div class="video-content">
                                <img src="img/home/about/about.jpg" alt="" data-lazyload="img/home/about/3.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                                <!--	<a href="www.youtube.com/watch?v=TLnmb07WQ-s" class="popup-youtube">
                                        <i class="icofont icofont-play-alt-2"></i>
                                    </a>
                                -->
                            </div>
                        </div>
                        <div class="aboutus-bottom-txt">

                            <!--</p></p>

                                <div class="person-area">
                                    <div class="person-img">
                                        <img src="img/home-one/other/person.png" alt="">
                                    </div>
                                    <div class="person-txt">
                                        <h6>MAKX AMEX</h6>
                                        <span>CEO - Filmcity</span>
                                    </div>
                                </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Area End -->
</div>