<!-- Swagger Area Start -->
<section class="project-area pt-90 pb-95 bg-2">
    <div class="container">
        <div class="row">
            <!-- Project Single -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="project-single text-center">
                    <div class="project-count text-uppercase">
                        <span class="counter">@ViewData["Products"]</span>
                        <h3>моделей</h3>
                    </div>
                </div>
            </div>
            <!-- Project Single -->
            <!-- Project Single -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="project-single text-center">
                    <div class="project-count text-uppercase">
                        <span class="counter">@ViewData["Orders"]</span>
                        <h3>заказов</h3>
                    </div>
                </div>
            </div>
            <!-- Project Single -->
            <!-- Project Single -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="project-single text-center">
                    <div class="project-count text-uppercase">
                        <span class="counter">@ViewData["Clients"]</span>
                        <h3>клиентов</h3>
                    </div>
                </div>
            </div>
            <!-- Project Single -->
            <!-- Project Single -->
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="project-single text-center">
                    <div class="project-count text-uppercase">
                        <span class="counter">@ViewData["Process"]</span>
                        <h3>в работе</h3>
                    </div>
                </div>
            </div>
            <!-- Project Single -->
        </div>
    </div>
</section>
<!-- Swagger Area End -->
