<!-- Slider Area Start -->
<div class="slider-area">
    <div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="space-opera" data-source="gallery" style="background:#000000;padding:0px;">
        <!-- START REVOLUTION SLIDER 5.4.7 fullscreen mode -->
        <div id="rev_slider_2_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7">
            <ul>
                <!-- SLIDE 1 -->
                <li data-index="rs-4" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="3500" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="img/ome/header/header_slider_1920_900/dummy.png" alt="" data-lazyload="img/home/header/header_slider_1920_900/1.png" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Power1.easeOut" data-scalestart="100" data-scaleend="150" data-rotatestart="2" data-rotateend="-2" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         id="slide-4-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-fontsize="['50','40','40','25']"
                         data-lineheight="['50','40','40','25']"
                         data-fontweight="['700','400','400','400']"
                         data-letterspacing="['20','20','20','10']"
                         data-width="['900','720','640','360']"
                         data-height="none"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":500,"split":"chars","splitdelay":0.2,"speed":2000,"split_direction":"random","frame":"0","from":"y:[-50|50];sX:0.9;sY:0.9;opacity:0;fb:30px;","to":"o:1;fb:0px;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:30px;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[20,20,20,20]"
                         style="z-index: 5; min-width: 900px; max-width: 900px; white-space: normal; font-size: 50px; line-height: 50px; font-weight: 700; color: #ffffff; letter-spacing: 20px;font-family:Roboto;text-transform:capitalize;">
                        <a href="#" style=" color:inherit; text-decoration:none"><span>ИЗДЕЛИЯ ИЗ КОЖИ</span>РУЧНОЙ РАБОТЫ</a>
                    </div>
                    <!-- LAYER NR. 2
                    <div class="tp-caption tp-resizeme"
                        id="slide-4-layer-7"
                        data-x="['left','left','left','left']" data-hoffset="['30','30','32','20']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','21','20']"
                        data-fontsize="['20','20','20','15']"
                        data-lineheight="['24','30','30','25']"
                        data-width="['800','640','737','461']"
                        data-height="['none','none','181','177']"
                        data-whitespace="normal"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":3500,"split":"words","splitdelay":0.01,"speed":1500,"split_direction":"forward","frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; min-width: 1000px; max-width: 1000px; white-space: normal; font-size: 16px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Roboto;">
                            На сайте представлены изделия из кожи ручной работы от производителя Clean Leather.
                            Мужские и женские кожаные сумки и клатчи, кожаные портмоне, кошельки, визитницы, монетницы.
                            Кожаные ключницы и футляры для очков, а также различные полезные кожаные мелочи.
                            Надежные, прочные, удобные и красивые товары будут долго радовать своих владельцев и приносить им пользу
                    <div> -->
                    <!-- LAYER NR. 3
                    <div class="tp-caption rev-btn"
                        id="slide-4-layer-5"
                        data-x="['right','right','right','right']" data-hoffset="['30','30','5','2']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','30']"
                        data-lineheight="['50','50','30','30']"
                        data-letterspacing="['10','10','10','0']"
                        data-width="['80','80','none','none']"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-visibility="['on','on','off','off']"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":4500,"speed":1000,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bc:rgb(255,255,255);"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,20,5,11]"
                        data-paddingbottom="[5,5,5,5]"
                        data-paddingleft="[30,30,14,17]"
                        style="z-index: 7; min-width: 80px; max-width: 80px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: #ffffff; letter-spacing: 10px;font-family:Quicksand;background-color:rgba(255,255,255,0);border-color:rgba(255,255,255,0.25);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-angle-right"></i>
                        </div> -->
                    <!-- LAYER NR. 4
                    <div class="tp-caption rev-btn "
                        id="slide-4-layer-9"
                        data-x="['right','right','right','right']" data-hoffset="['124','156','87','46']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','30']"
                        data-lineheight="['50','50','30','30']"
                        data-width="['80','80','none','none']"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-visibility="['on','on','off','off']"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":4500,"speed":1000,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bc:rgb(255,255,255);"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,20,10,2]"
                        data-paddingbottom="[5,5,5,5]"
                        data-paddingleft="[30,30,15,12]"
                        style="z-index: 8; min-width: 80px; max-width: 80px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: #ffffff; letter-spacing: 10px;font-family:Quicksand;background-color:rgba(255,255,255,0);border-color:rgba(255,255,255,0.25);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-angle-left"></i>
                    </div> -->
                </li>
                <!-- SLIDE 2 -->
                <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="3500" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="img/home/header/header_slider_1920_900/dummy.png" alt="" data-lazyload="img/home/header/header_slider_1920_900/2.png" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Power1.easeOut" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 5 -->
                    <div class="tp-caption tp-resizeme"
                         id="slide-5-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-fontsize="['50','40','40','25']"
                         data-lineheight="['50','40','40','25']"
                         data-fontweight="['500','400','400','400']"
                         data-letterspacing="['20','20','20','10']"
                         data-width="['631','721','640','360']"
                         data-height="['51','none','none','none']"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":500,"split":"chars","splitdelay":0.2,"speed":2000,"split_direction":"random","frame":"0","from":"y:[-50|50];sX:0.9;sY:0.9;opacity:0;fb:30px;","to":"o:1;fb:0px;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:30px;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[20,20,20,20]"
                         style="z-index: 5; min-width: 631px; max-width: 631px; max-width: 51px; max-width: 51px; white-space: normal; font-size: 50px; line-height: 50px; font-weight: 500; color: #ffffff; letter-spacing: 20px;font-family:Roboto;text-transform:uppercase;">
                        <a href="#" style=" color:inherit; text-decoration:none">НАТУРАЛЬНАЯ КОЖА ВСЕГДА В МОДЕ</a>
                    </div>
                    <!-- LAYER NR. 6
                    <div class="tp-caption tp-resizeme"
                        id="slide-5-layer-7"
                        data-x="['left','left','left','left']" data-hoffset="['29','30','33','20']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"
                        data-fontsize="['20','20','20','15']"
                        data-lineheight="['24','30','30','25']"
                        data-width="['800','640','745','449']"
                        data-height="['none','none','152','176']"
                        data-whitespace="normal"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":3500,"split":"words","splitdelay":0.01,"speed":1500,"split_direction":"forward","frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; min-width: 1000px; max-width: 1000px; white-space: normal; font-size: 16px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Quicksand;">
                            На сайте представлены изделия из кожи ручной работы от производителя Clean Leather.
                            Мужские и женские кожаные сумки и клатчи, кожаные портмоне, кошельки, визитницы, монетницы.
                            Кожаные ключницы и футляры для очков, а также различные полезные кожаные мелочи.
                    </div> -->
                    <!-- LAYER NR. 7
                    <div class="tp-caption rev-btn "
                        id="slide-5-layer-5"
                        data-x="['right','right','right','right']" data-hoffset="['30','30','0','20']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"
                        data-lineheight="['50','50','30','50']"
                        data-width="['80','80','none','80']"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-visibility="['on','on','off','off']"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":4500,"speed":1000,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bc:rgb(255,255,255);"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,20,10,20]"
                        data-paddingbottom="[5,5,5,5]"
                        data-paddingleft="[30,30,15,30]"
                        style="z-index: 7; min-width: 80px; max-width: 80px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: #ffffff; letter-spacing: 10px;font-family:Quicksand;background-color:rgba(255,255,255,0);border-color:rgba(255,255,255,0.25);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-angle-right"></i>
                    </div> -->
                    <!-- LAYER NR. 8
                    <div class="tp-caption rev-btn "
                        id="slide-5-layer-9"
                        data-x="['right','right','right','right']" data-hoffset="['127','143','70','20']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['19','20','20','20']"
                        data-lineheight="['50','50','30','50']"
                        data-width="['80','80','none','80']"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-visibility="['on','on','off','off']"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":4500,"speed":1000,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bc:rgb(255,255,255);"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,20,10,20]"
                        data-paddingbottom="[5,5,5,5]"
                        data-paddingleft="[30,30,15,30]"
                        style="z-index: 8; min-width: 80px; max-width: 80px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: #ffffff; letter-spacing: 10px;font-family:Quicksand;background-color:rgba(255,255,255,0);border-color:rgba(255,255,255,0.25);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-angle-left"></i>
                    </div> -->
                </li>
                <!-- SLIDE 3 -->
                <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="Power2.easeInOut" data-easeout="Power2.easeInOut" data-masterspeed="3500" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="img/ome/header/header_slider_1920_900/dummy.png" alt="" data-lazyload="img/home/header/header_slider_1920_900/3.png" data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Power1.easeOut" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->
                    <!-- LAYER NR. 9 -->
                    <div class="tp-caption tp-resizeme"
                         id="slide-6-layer-3"
                         data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                         data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                         data-fontsize="['50','40','40','25']"
                         data-lineheight="['50','40','40','25']"
                         data-fontweight="['700','400','400','400']"
                         data-letterspacing="['20','20','20','10']"
                         data-width="['691','720','640','360']"
                         data-height="['51','none','none','none']"
                         data-whitespace="normal"
                         data-type="text"
                         data-responsive_offset="on"
                         data-frames='[{"delay":500,"split":"chars","splitdelay":0.15,"speed":2000,"split_direction":"random","frame":"0","from":"y:[-50|50];sX:0.9;sY:0.9;opacity:0;fb:30px;","to":"o:1;fb:0px;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;fb:30px;","ease":"Power2.easeInOut"}]'
                         data-textAlign="['center','center','center','center']"
                         data-paddingtop="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[20,20,20,20]"
                         style="z-index: 5; min-width: 691px; max-width: 691px; max-width: 51px; max-width: 51px; white-space: normal; font-size: 50px; line-height: 50px; font-weight: 700; color: #ffffff; letter-spacing: 20px;font-family:Roboto;text-transform:uppercase;">
                        <a href="#" style=" color:inherit; text-decoration:none">МОЖЕМ УЧЕСТЬ ВАШИ ПОЖЕЛАНИЯ</a>
                    </div>
                    <!-- LAYER NR. 10
                    <div class="tp-caption   tp-resizeme"
                        id="slide-6-layer-7"
                        data-x="['left','left','left','left']" data-hoffset="['30','30','30','20']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','20','20']"
                        data-fontsize="['20','20','20','15']"
                        data-lineheight="['24','30','30','25']"
                        data-width="['800','640','747','300']"
                        data-height="['none','none','151','none']"
                        data-whitespace="normal"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"delay":3500,"split":"words","splitdelay":0.01,"speed":1500,"split_direction":"forward","frame":"0","from":"sX:1;sY:1;opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"frame":"999","to":"opacity:0;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 6; min-width: 1000px; max-width: 1000px; white-space: normal; font-size: 16px; line-height: 24px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Quicksand;">
                            На сайте представлены изделия из кожи ручной работы от производителя Clean Leather.
                            Мужские и женские кожаные сумки и клатчи, кожаные портмоне, кошельки, визитницы, монетницы.
                            Кожаные ключницы и футляры для очков, а также различные полезные кожаные мелочи.
                            Надежные, прочные, удобные и красивые товары будут долго радовать своих владельцев и приносить им пользу.
                    </div> -->
                    <!-- LAYER NR. 11
                    <div class="tp-caption rev-btn "
                        id="slide-6-layer-5"
                        data-x="['right','right','right','right']" data-hoffset="['30','30','0','20']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['20','20','19','20']"
                        data-lineheight="['50','50','30','50']"
                        data-width="['80','80','45','80']"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-visibility="['on','on','off','off']"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":4500,"speed":1000,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bc:rgb(255,255,255);"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,20,10,20]"
                        data-paddingbottom="[5,5,5,5]"
                        data-paddingleft="[30,30,15,30]"
                        style="z-index: 7; min-width: 80px; max-width: 80px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: #ffffff; letter-spacing: 10px;font-family:Quicksand;background-color:rgba(255,255,255,0);border-color:rgba(255,255,255,0.25);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-angle-right"></i>
                    </div>
                    -->
                    <!-- LAYER NR. 12
                    <div class="tp-caption rev-btn "
                        id="slide-6-layer-9"
                        data-x="['right','right','right','right']" data-hoffset="['143','143','67','20']"
                        data-y="['bottom','bottom','bottom','bottom']" data-voffset="['21','21','18','20']"
                        data-lineheight="['50','50','30','50']"
                        data-width="['80','80','45','80']"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-visibility="['on','on','off','off']"
                        data-type="button"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"previous","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        data-frames='[{"delay":4500,"speed":1000,"sfxcolor":"#ffffff","sfx_effect":"blockfromleft","frame":"0","from":"z:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"sfxcolor":"#ffffff","sfx_effect":"blocktoleft","frame":"999","to":"z:0;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bc:rgb(255,255,255);"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[20,20,10,20]"
                        data-paddingbottom="[5,5,5,5]"
                        data-paddingleft="[30,30,15,30]"
                        style="z-index: 8; min-width: 80px; max-width: 80px; white-space: nowrap; font-size: 30px; line-height: 50px; font-weight: 700; color: #ffffff; letter-spacing: 10px;font-family:Quicksand;background-color:rgba(255,255,255,0);border-color:rgba(255,255,255,0.25);border-style:solid;border-width:1px 1px 1px 1px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-angle-left"></i>
                    </div>
                    -->
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
        </div>
    </div><!-- END REVOLUTION SLIDER -->
</div>
<!-- Slider Area End -->